.white-box {
    width: 600px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .table-container {
    box-shadow: 2px 2px 5px #888888;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  tr.table-secondary{
      background-color: burlywood;
  }
  td:nth-child(2) {
    width: 50%;
  }
  button {
    background-color: #5429ec;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: block; 
    margin: 0 auto; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #4760d3; 
  }
  @media (max-width: 480px) {
    .white-box {
      width: 90%;
    }
  }